.root {
    --midnight-blue: #1d4354;
    --twilight-blue: #2b5468;
    --dusk-blue: #336278;
    --highlight-blue: #0073d2;
    --cotton-candy: #73e6ff;
    --blueberry: #14bff4;
    --deep-blue: #008eaf;
    --ocean-blue: #2579e7;
    --kale-green: #008329;
    --apple-green: #34ba08;
    --avocado-green: #37a000;
    --grass: #5bbc2e;
    --leaf-green: #54d318;
    --up-green-old: #6fda44;
    --kiwi-green: #a4dd83;
    --lettuce-light: #ebf7ec;
    --tangerine: #e6a01e;
    --pineapple: #ffcc0d;
    --coral: #f3756c;
    --cherry: #d50000;
    --gold: #cdc52d;
    --carbonite: #222;
    --smoke: #656565;
    --granite: #a0a0a0;
    --flannel: #e0e0e0;
    --ash: #f2f2f2;
    --cloud: #f9f9f9;
    --oyster: #d1d1d1;
    --background-gray: #f1f2f4;
    --backdrop-black: #000f12;
    --up-black: #001e00;
    --gray-01: #65735b;
    --gray-02: #9aaa97;
    --gray-03: #beccbe;
    --gray-04: #d5e0d5;
    --gray-05: #e4ebe4;
    --gray-06: #f2f7f2;
    --gray-07: #f7faf7;
    --up-green-lightest: #88c872;
    --up-green-light: #66b549;
    --up-green: #14a800;
    --up-green-dark: #3c8224;
    --up-green-darkest: #2d6318;
    --up-lime-lightest: #dbf0a3;
    --up-lime-light: #c0e666;
    --up-lime: #95df00;
    --up-lime-dark: #76a230;
    --up-lime-darkest: #47691b;
    --blue: #1f57c3;
    --blue-light: #557ac9;
    --blue-dark: #254d97;
    --sky: #01cdbe;
    --sky-light: #6ad4ca;
    --sky-dark: #4ba798;
    --mint: #91e6b3;
    --forest: #13544e;
    --brown: #67541f;
    --kiwi: #97922d;
    --yellow: #debe1a;
    --brick: #9b211b;
    --clay: #bc5118;
    --orange-red: #ff4b25;
    --pink: #f66dbc;
    --lilac: #bda1e7;
    --heather: #a18085;
}