* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
    color: rgb(34, 34, 34);
}




html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #e4ebe4;
}

header {
    display: flex;
    background: #1d4354;
}

main {
    flex: 1 1 auto;
    height: 100%;
}

footer {
    background: #fff;
}

.wrapper {
    width: 80%;
    margin: 1em auto;
    display: flex;
}

main .wrapper {
    flex-direction: column;
    min-height: 100%;
}

main .wrapper h1 {
    display: block;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.menu li {
    margin: auto 1em;
    display: block;
}

.menu li a {
    color: #fff;
}

.menu li a:hover,
.menu li .active {
    color: #54d318;
}

.logo a {
    color: #fff;
    font-size: 1.5em;
}

.avatar {
    margin-left: 1em;
    display: flex;
}

.avatar a {
    margin: auto 0 auto 1em;
}

.avatar svg {
    display: block;
}

.login_form {
    width: 35em;
    margin: auto;
    padding: 3em;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    background: #fff;
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type=email],
input[type=text],
.message {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

input[type=email]:hover,
input[type=text]:hover,
input[type=email]:focus,
input[type=text]:focus {
    border: 1px solid #88c872;
    outline: none;
}

input[type=submit] {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 2em;
    outline: none;
    border: none;
    background: #14a800;
    color: #f2f2f2;
    font-weight: bold;
}

input[type=submit]:hover,
input[type=submit]:focus {
    outline: none;
    border: none;
    background: #3c8224;
    transition: background 0.5s ease;
}

.message.success {
    background: #88c872;
    color: #2d6318;
    border: 1px solid #2d6318;
}

.message.error {
    background: #f3756c;
    color: #d50000;
    border: 1px solid #d50000;
    border-radius: 6px;
}




@media (max-width: 1100px) {
    * {
        font-size: 18pt;
    }

    .login_form {
        width: 90%;
        padding: 2em;
    }


}