{% extends 'main.html' %}

{% block content %}
    <div class="login_form">
        {% for category, message in get_flashed_messages(True) %}
            <div class="message {{ category }}">{{ message }}</div>
        {% endfor %}
        <form class="login" action="/login" method="post">
            <input type="email" name="email" value="" placeholder="email" required>
            <input type="text" name="password" value="" placeholder="password" required>
            <input type="submit" name="login_btn" value="LogIn">
        </form>
    </div>


{% endblock %}