<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    {% block title %}
        {% if title %}
            <title> Test - {{ title }} </title>
        {% else %}
            <title> Test </title>
        {% endif %}
    {% endblock %}
</head>

<body>
    {% include 'header.html' %}
    <main>
        <div class="wrapper">
            {% block H1 %}
                {% if title %}
                    <h1> {{ title }} </h1>
                {% else %}
                    <h1> Welcome </h1>
                {% endif %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="wrapper">
            {% include 'footer.html' %}
        </div>
    </footer>
</body>